{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clock</title>
    <script>
        function digitalClock() {
            var date = new Date();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            if (hours < 10) hours = "0" + hours;
            if (minutes < 10) minutes = "0" + minutes;
            if (seconds < 10) seconds = "0" + seconds;
            if (hours >= 13 && hours <= 14) {
                document.getElementById("id_clock").innerHTML = "ОБЕД!";
            }
            else if (hours <= 9 && hours >=18) {
                document.getElementById("id_clock").innerHTML = "ДОМОЙ!";
            }
            else {
                document.getElementById("id_clock").innerHTML = hours + ":" + minutes + ":" + seconds;
            }
            setTimeout("digitalClock()", 1000);

        }
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
<div id="id_clock">
</div>
<div id="id_clock" style="font-size: calc(1em + 5vw); margin-top: 10rem">
    {{ IP }}
</div>
<script>digitalClock();</script>
</body>
</html>